
<div id="mainnav" ng-include="'/app/components/navbar-landing/navbar-landing.html'"></div>
<div class="container-fluid">
  <div id="Home" class="row"><img style="min-width:100%;max-width:100%;height:auto" src="/images/logo15.png"/></div>
  <div class="row">
    <numbers></numbers>
  </div>
</div>
<div class="container">
  <div style="padding:80px" class="row">
    <center>
      <h2 style="font-size:3em;font-family:Droid Sans,sans-serif;padding-top:10px">Make <em style="color:red;">money</em> with your music</h2>
    </center>
  </div>
</div>
<div id="moo" style="background-color:#eee;height:200px" class="container-fluid">
  <h3 style="padding-left:200px;font-family:Droid Sans,sans-serif;z-index:2;color:white;position:absolute;margin-top:100px;color:#d64342">Streaming has become a <em style="color:black">significant</em> source of income for artists of all sizes.</h3><img alt="Record top" src="/images/record-top.png" style="position:absolute;z-index:1;margin-left:-407px"/>
</div>
<div id="moo" style="margin-top:142px;background-color:#c70000" class="container-fluid">
  <div id="Basics" class="row">
    <center>
      <div style="background-color:#eee;margin-right:auto;margin-left:auto;width:95%;border-radius:5px;margin-top:20px;margin-bottom:50px">
        <h2 style="font-family:Droid Sans,sans-serif;margin-top:50px;padding:50px">When fans listen to your songs and use your music in their own content, your revenue remains undiscovered on new platforms unless <em style="color:red">properly managed.</em></h2>
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <p style="font-size:15px">INDMUSIC is a global rights administration network and YouTube Certified MCN with proprietary digital tools and services to increase revenue and audience development on emerging platforms including YouTube, SoundCloud and Dailymotion. INDMUSIC helps its partners monetize their content on multiple platforms without sacrificing creative control or rights to their content.</p>
            </div>
            <div class="col-xs-6">
              <p style="font-size:15px">If you are already creating great content or have never uploaded a video, by partnering with INDMUSIC, you gain access to all the tools necessary to dominate the YouTube platform. Here's how:</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div style="margin-top:50px;padding-bottom:50px" class="row">
            <div class="col-xs-4"><img src="/images/wrench2.png"/>
              <h3>Optimization</h3>
              <p>We use best practices in channel strategy and content delivery to grow and maintain your audience. Through proprietary Content ID query technology, we find more uses of your music in user generated content (UGC).</p>
            </div>
            <div class="col-xs-4"><img src="/images/chart.png"/>
              <h3>Analysis</h3>
              <p>Advanced demographic and engagement reports are nothing new to us. Coupled with a thorough, constant analysis of feedback on key search terms, we can dramatically increase your visibility.</p>
            </div>
            <div class="col-xs-4"><img src="/images/rocket.png"/>
              <h3>Monetization</h3>
              <p>With premium advertising and product placement within your content, we will maximize your revenue. We also administer Master and Publishing Rights to generate additional income from unlicensed third party uses.</p>
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
<div style="background-color:#B2B2B2;height:200px" class="container-fluid">
  <div id="Results" class="row">
    <center>
      <div id="headerpad">
        <h3 id="headerpadtext" style="font-family:Droid Sans,sans-serif">The <em style=color:white>results speak for themselves</em>, though we're sure our partners would be happy to elaborate.</h3>
      </div>
    </center>
  </div>
</div>
<div style="margin-top:50px" class="container-fluid">
  <div id="numbers" class="row">
    <div class="col-md-5">
      <h1 style="font-family:Droid Sans,sans-serif"><em style="color:red"><strong>{{netsubs}}</strong></em></h1>
      <h4>Network Subscribers</h4>
    </div>
    <div class="col-md-5">
      <h1 style="font-family:Droid Sans,sans-serif"><em style="color:red"><strong>{{netviews}}</strong></em></h1>
      <h4>Network Views</h4>
    </div>
  </div>
  <div id="numbers" class="row">
    <div class="col-md-5">
      <h1 style="font-family:Droid Sans,sans-serif"><em style="color:red"><strong>{{monviews}}</strong></em></h1>
      <h4>Monthly Views</h4>
    </div>
    <div class="col-md-5">
      <h1 style="font-family:Droid Sans,sans-serif"><em style="color:red"><strong>{{chanparts}}</strong></em></h1>
      <h4>Channel Partners</h4>
    </div>
  </div>
  <hr/>
  <div style="padding:50px" class="row">
    <div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item"><img src="/images/partners/ihc.png" alt="I Heart Comics"/></div>
      <div class="item"><img src="/images/partners/soul.png" alt="Soul Kahn"/></div>
      <div class="item"><img src="/images/partners/major-lazer.png" alt="Major Lazer"/></div>
      <div class="item"><img src="/images/partners/reach.png"/></div>
      <div class="item"><img src="/images/partners/okay.png"/></div>
      <div class="item"><img src="/images/partners/temporary.png"/></div>
      <div class="item"><img src="/images/partners/mad-decent.png"/></div>
      <div class="item"><img src="/images/partners/wild-honey.png"/></div>
      <div class="item"><img src="/images/partners/insomniac.png"/></div>
      <div class="item"><img src="/images/partners/laidback.png"/></div>
      <div class="item"><img src="/images/partners/youtube.png"/></div>
    </div>
  </div>
</div>
<div style="margin-top:50px;background-color:#eee" class="container-fluid">
  <div id="Press" class="row">
    <center>
      <div id="headerpad">
        <h3 id="headerpadtext" style="font-family:Droid Sans,sans-serif">There's been some press. <br> <em style="color:red">Quite</em> a bit of it, in fact.</h3>
      </div>
    </center>
  </div>
</div>
<div style="margin-top:50px" class="container-fluid">
  <div class="row">
    <div id="owl-example" class="owl-carousel owl-theme">
      <div class="item">
        <center><img src="/images/billboard.png"/>
          <div style="width:50%">
            <h2 style="font-family:Droid Sans,sans-serif"><em>How Four-Person INDmusic is Monetizing the 'Harlem Shake' Meme for Mad Decent</em></h2><strong>“[INDMUSIC] helps the label monetize its YouTube channels at a higher CPM (or cost per thousand viewer rate) than it could have on its own, and with faster response to viral trends.”</strong>
          </div>
        </center>
      </div>
      <div class="item">
        <center><img src="/images/fader.png"/>
          <div style="width:50%">
            <h2 style="font-family:Droid Sans,sans-serif"><em>FADER Explains: Harlem Shake</em></h2><strong>“INDMUSIC ...has used YouTube's Content ID system to tag over 4,000 YouTubes featuring "Harlem Shake,"”</strong>
          </div>
        </center>
      </div>
      <div class="item">
        <center><img src="/images/pandodaily.png"/>
          <div style="width:50%">
            <h2 style="font-family:Droid Sans,sans-serif"><em>'Harlem Shake': The Making and Monetizing of Baauer's Viral Hit</em></h2><strong>“...by following the same model... artists like Explosions in the Sky, INDMUSIC is pioneering a new revenue path for musicians: the user-generated royalty.”</strong>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
<div style="margin-top:50px;background-color:#d64342" class="container-fluid">
  <div id="Contact" class="row">
    <center>
      <div id="headerpad">
        <h3 id="headertext" style="color:black;font-family:Droid Sans,sans-serif">Band? Label? Other? <br> <em style="color:white">Say hello.</em></h3>
      </div>
    </center>
  </div>
</div>
<div style="margin-top:50px" class="container-fluid">
  <div id="contact" style="font-family:Droid Sans,sans-serif" class="row">
    <div class="col-md-6">
      <h2 style="color:green">{{contactsuc}}</h2>
      <div class="form-group">
        <form name="contactForm" id="contactform" style="width:20em">
          <label>Name</label>
          <label style="color:red">{{contacterr}}</label>
          <input id="inputName" type="text" ng-model="info.name" class="form-control"/>
          <label>Email Address</label>
          <input id="inputEmail" type="email" ng-model="info.email" class="form-control"/>
          <label>Your YouTube channel URL (optional)</label>
          <input id="inputLink" type="text" ng-model="info.ytlink" class="form-control"/>
          <label>Message</label>
          <textarea id="inputMessage" ng-model="info.message" class="form-control"></textarea>
          <button type="submit" style="text-transform:uppercase;font-size:22px;margin-top:5px;border-radius:0px;background-color:#d64342;border:none" ng-click="contact(info)" class="btn btn-primary">Send it on</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <h2 style="font-family:Droid Sans,sans-serif">Our Info:</h2>
      <p style="margin-top:20px;font-family:Droid Sans,sans-serif">128 Metropolitain Ave<br>Brooklyn, NY 11249</p>
      <hr style="margin-top:20px"/>
      <p style="margin-top:20px;font-family:Droid Sans,sans-serif">INDMUSIC was founded in 2011 by Brandon Martinez,<br> Jon Baltz, Guy Oseary, and Allen DeBevoise and is headquartered in Brooklyn, NY.</p><a href="http://twitter.com/indmusic"><img height="50" width="50" src="/images/twitter-icon2.png"/></a><a href="http://facebook.com/indmusic"><img height="50" width="50" src="/images/facebook-icon2.png"/></a><a href="http://youtube.com/indmusic"><img height="50" width="50" src="/images/youtube-icon2.png"/></a><a href="http://instagram.com/indmusic"><img height="50" width="50" src="/images/instagram2.png"/></a>
    </div>
  </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/js/jquery.nav.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#top-nav').onePageNav({
           currentClass: 'active',
           changeHash: true,
           scrollSpeed: 600
    });
    $("#owl-demo").owlCarousel({
        //autoPlay: 3000, //Set AutoPlay to 3 seconds
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
  
    });
    $("#owl-example").owlCarousel({
              //navigation : true,
              slideSpeed : 1600,
              paginationSpeed : 400,
              singleItem: true
      });
  
  });
  
  
          
  
      
      
</script>